.didomi-engagement {
  border: 1px #666 solid;
  display: flex;
}
.didomi-engagement-inner {
  padding: 10px;
  margin: auto;
}
.didomi-engagement-inner .description {
  margin: 0 auto;
  text-align: center;
}
.didomi-engagement-inner .button {
  display: block;
  margin: 0 auto;
}
